body{
    background-image: url(Image/background.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-attachment: fixed; 
    min-width:800px; 
    max-width:2048px; 
    margin: auto;
    color: white;   
    background-color: #300002; 
}

@font-face {
    font-family:Majestic-X;
    src:url(fonts/Majestic_X.ttf);
}

.logo {
    position: absolute;
/*    float:left;*/
    top:32%;
    left: 4%;
    font-family: Majestic-X;
}

.logo1 {
    font-family: Majestic-X;
    font-size: 73px;
    font-weight: 400;
    padding: 0;
    margin:0;
}

.logo2 {
    font-family: Majestic-X;
    font-weight: 400;
    font-size: 37px;
    position: absolute;
    padding: 0;
    margin:0 0 0 112px;
}

.menu {
    padding: 0;
    margin: 64px 22px 0 0 ;
    top: 0;
    float: right;
    display: inline-block;
    font-family:  Majestic-X;
    font-size: 28px;
}

.head {
    position: relative;
    width: 100%;
    height: 135px;
}

.elem_menu {
    margin: 8px;
    padding: 4px 12px 4px 16px;
    color: white;
    text-decoration:none;
}
.elem_menu:hover{
    margin: 8px;
    padding: 4px 12px 4px 16px;
    background-color: #520002;
}

.logo_ref {
    color: white;
    text-decoration: none;
}


#icon {
    position: absolute;
    right: 11%;
    top: 21%;
    padding: 10px;
}

#icon:hover {
    padding: 10px;
/*    position: absolute;*/
    background-color: #850105;
    border-radius: 50px; 

}

#icon2 {
    position: absolute;
    right: 4%;
    top: 21%;
    padding: 10px;
}

#icon2:hover{
    position: absolute;
    right: 4%;
    top: 21%;
    padding: 10px;
    background-color: #850105;
    border-radius: 50px; 
}

.image {
    position: relative;
    margin: 2% 10%;
    width: 80%;
    height: 740px;
    background-image: url(image/bg_slider.jpg);
}

.main-menu {
    list-style: none;
/*    overflow: hidden;*/
    margin-left: 252px;
    padding: 0;
    position: absolute;
    top:32%;
    right: 1%;
    float: right;
    font-family:  Majestic-X;
    font-size: 28px;
}
.main-menu .main-menu_li{
    float: left;
    display: block;
}
.main-menu .main-menu_li ul{
    display: none;
    
}
.main-menu .main-menu_li:hover ul{
    margin-left: 0px;
    position: absolute;
    z-index: 1;
    display: block;
    padding: 8px;
    text-indent: 20px;
    margin-top: -11px;
    font-size: 26px;
}

.main-menu li .sub-menu{
    color: white;
    text-decoration: none;
}
.sub-menu_li {
    list-style: none;
    background-color: #650108;

}
.sub-menu_li:hover {
    list-style: none;
    border-top: 1px solid  white;
    border-bottom: 1px solid  white;
}
 
#topNavigation{
    list-style-image: none;
}

#topNavigation > ul > li {
    height: 45px;
    line-height: 45px;
    display: inline-block;
}

#topNavigation > ul > li > a {
    height: 45px;
}


#r_name {
    font-family:  Majestic-X;
    font-size: 54px;
    color: #650108;
    font-weight: 400;
    text-align: center;
}

#ind_image {
    position: relative;
    margin: 2% 9%;
    width: 82.2%;
    height: 610px;
    background-image: url(image/index_image.jpg);
    background-repeat: no-repeat;
}
